.resumeRender header {
    width: min(80vw, 800px);
    margin: 4rem auto;
}

.nameTitle h1 {
    color: var(--primary-color);
    text-align: right;
}

.resumeRender h2,
.nameTitle h3 { 
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color)
}

.resumePage {
    height: 1156px;
    width: 816px;
    padding: 96px;
    margin: 4rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(to right, var(--secondary-color) 360px, white 360px);
}

.top,
.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.profilePic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 55%;
    text-align: right;
    border-right: 10px solid var(--primary-color); 
    padding-right: 3rem; 
}
  
.contact,
.objective,
.skillProject {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.expEdu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profilePic,
.contact,
.skillProject {
    width: 30%;
}

.objective,
.expEdu {
    width: 60%;
}

.contactInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
}

.contact h2 {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.experience,
.education {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.objective div,
.edu,
.job {
    margin-left: 1rem; 
    padding-left: .5rem;
    border-left: 3px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.degreeDate,
.titleDate {
    display: flex;
    justify-content: space-between;
}

.dates {
    color: var(--primary-color);
}

.insLo,
.coLoc {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}

@media print {
    @page {
      size: A4 portrait;
    }
    .resumeRender header {
        display: none;
    }
}


